footer
  .footer-items
    a(href='mailto:dreambountyapp@gmail.com' data-name='footer contact') Contact
    |
    | /
    |
    a(href='/faq' data-name='faq') FAQ
    |
    | /
    |
    a(href='/legal' data-name='legal') Legal
