noscript
  h1.noscript Enable JavaScript
  style.
    *:not(html):not(body):not(head):not(noscript):not(.noscript){display:none;}body{display:flex;justify-content:center;align-items:center;height:90vh;}.noscript{margin:0;font-weight:300;}
