.privacy#privacy Privacy Policy
section
  | This Policy describes the information we collect from you and how we use that information. It applies to any of the Services that Dreambounty or any of its subsidiaries or affiliates provide. If you see a capitalized word, it's defined in our Terms of Use.
  br
  br
  | Protecting your information—and being transparent about the ways we use it—is one of the core commitments we make to you. You entrust us with your information, and we take our responsibility to protect that trust to heart.


section#what-we-collect
  h2 What We Collect
  | In order for you to create an account on Dreambounty and use our Services, we need to collect and process some information. Depending on your use of the Services, that may include:
  br
  br
  | • Information that you provide by completing forms on Dreambounty — your name, email and postal addresses, telephone number, country of residence, login, and password details. We will ask for this information if you register as a user of the Services, subscribe to our newsletters, upload or submit any material through Dreambounty, or request any information;
  br
  br
  | • Details of any requests or transactions you make through the Services. All payment information you submit is collected and used by our payment processors in accordance with their privacy policies. Dreambounty doesn't store your payment information;
  br
  br
  | • Information about your activity on and interaction with Dreambounty (such as your IP address, the type of device or browser you use, and your actions on the site);
  br
  br
  | • Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem); and
  br
  br
  | • Information that you submit to Dreambounty in the form of comments, contributions to discussions, or messages to other users.

section#how-we-use-this-information
  h2 How we Use this Information
  | We use the information we collect for the following purposes:
  br
  br
  | • To keep your account secure;
  br
  br
  | • To enable us to provide you with our Services, and to improve, promote, and protect our Services;
  br
  br
  | • To set up and administer your account, contact you, and customize your experience on Dreambounty (for example, to show you requests that we think may interest you based on your previous use); and
  br
  br
  | • To track use of the Services so that we can improve Dreambounty.

section#how-this-information-is-shared
  h2 How this Information is Shared
  br
  b Information that's shared publicly
  br
  br
  | Here are some of the things that will be publicly viewable on your profile, or elsewhere on Dreambounty:
  br
  br
  | • The account name, username and picture;
  br
  br
  | • Requests you've backed (but not contribution amounts);
  br
  br
  | • Requests you've created; and
  br
  br
  | • Requests whom you're the recipient of.
  br
  br
  | Recipients may also be asked to verify their identities with government-issued IDs before accepting a request.
  br
  br
  br
  b Information that isn't shared publicly
  br
  br
  | The following data will not be publicly displayed or revealed to other users:
  br
  br
  | • Any payment information you provide;
  br
  br
  | • Your password details;
  br
  br
  | • Your IP address;
  br
  br
  | • Your phone number; and
  br
  br
  | • Communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem).
  br
  br
  | We never post anything to your Facebook, Twitter, or other third-party accounts without your permission. We do not and will not sell your data.
  br
  br
  br
  b Information that's shared with trusted third-party services
  br
  br
  | We may share your information with certain trusted third-party services to help us provide, improve, promote, or protect Dreambounty's Services (like when we partner with payment processors, or use services that help us manage our ads on other sites). When we share data with third-party services that support our delivery of the Dreambounty Services, we require that they use your information only for the purposes we've authorized, and that they protect your personal information at least to the same standards we do. We may also share information that's aggregated and anonymized in a way that it doesn't directly identify you.
  br
  br
  br
  b Information that's shared with recipients & collaborators
  br
  br
  | If a request you have backed is accepted, the recipient may receive the email address associated with your Dreambounty account (and thus your Twitter account).
  br
  br
  | Recipients have the option to appoint collaborators to help manage their request. These collaborators may be able to access some of the information available to recipients (including backers' names, email addresses, contribution amounts, and messages), and are required to treat backers' personal information with the same care and respect as recipients are.
  br
  br
  br
  b Information that's shared to protect Dreambounty & comply with the law
  br
  br
  | We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect Dreambounty's legal rights.

section#email
  h2 Email
  | We want to communicate with you only if you want to hear from us. We try to keep emails to a minimum and give you the ability to opt out of any marketing communications we send.
  br
  br
  | We will send you email relating to your transactions on Dreambounty. You will also receive certain marketing email communications, in accordance with your preferences, and from which you may opt out at any time.
  br
  br
  | We'll also send you service-related announcements when it's necessary to do so.

section#wrap-up
  h2 Wrap-up
  | People under 18 (or the legal age in your jurisdiction) are not permitted to use Dreambounty on their own, and so this privacy policy makes no provision for their use of the site.
  br
  br
  | Information that you submit through the Services may be transferred to countries other than where you reside (for example, to our servers in the United States). We will protect all information we receive in accordance with this Privacy Policy.
