.terms Terms of Use
section#welcome-to-Dreambounty
  h2 Welcome to Dreambounty
  aside
    p.tldr
      | This page explains our terms of use. When you use Dreambounty, you're agreeing to all the rules on this page. Some of them need to be expressed in legal language, but we've done our best to offer you clear and simple explanations of what everything means — hence the brief summaries in these boxes. The summaries, for the record, are not part of the official legal terms.
  br
  | Welcome to Dreambounty. By using this website (the "Site") and services (together with the Site, the "Services") offered by Dreambounty (together with its parents, subsidiaries, affiliates, agents, representatives, consultants, employees, officers, and directors — collectively, "Dreambounty", "we", or "us"), you're agreeing to these legally binding rules (the "Terms"). You're also agreeing to our Privacy Policy and agreeing to follow any other rules on the Site.
  br
  br
  | Dreambounty reserves the right, at its sole discretion, to change, modify, add or remove portions of these Terms of Use, at any time. It is your responsibility to check these Terms of Use periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes.
  br
  br
  | Dreambounty is for your personal, non-commercial use, except as explained in the sections "How Requests Work" and "How Funding Works" below.


section#about-creating-an-account
  h2 About Creating an Account
  aside
    p.tldr
      | To sign up for a Dreambounty account, you need to be 18 or over. You're responsible for your account and all the activity on it.
  br
  | You can browse Dreambounty without registering for an account. But to use some of Dreambounty's functions, you'll need to register, choose an account name, and set a password. When you do that, the information you give us has to be accurate and complete. Don't impersonate anyone else or choose names that are offensive or that violate anyone's rights. If you don't follow these rules, we may cancel your account.
  br
  br
  | You're responsible for all the activity on your account, and for keeping your password confidential. If you find out that someone's used your account without your permission, you should report it to dreambountyapp@gmail.com.
  br
  br
  | To sign up for an account, you need to be at least 18 years old, or old enough to form a binding contract where you live. If necessary, we may ask you for proof of age.


section#things-you-definitely-shouldnt-do
  h2 Things You Definitely Shouldn't Do
  aside
    p.tldr
      | This section is a list of things you probably already know you shouldn't do — lie, break laws, abuse people, steal data, hack other people's computers, and so on. Please behave yourself. Don't do this stuff.
  br
  | We expect everyone who uses Dreambounty to behave responsibly and help keep this a nice place. Don't do any of these things on the Site:
  br
  br
  | • A request is prohibited if it: is illegal, is involuntary pornography, is sexual or suggestive content involving minors, encourages or incites violence, threatens, harasses, or bullies or encourages others to do so, is personal and confidential information, impersonates someone in a misleading or deceptive manner, is spam.
  br
  br
  | • Don't break the law. Don't take any action that infringes or violates other people's rights, violates the law, or breaches any contract or legal duty you have toward anyone.
  br
  br
  | • Don't lie to people. Don't post information you know is false, misleading, or inaccurate. Don't do anything deceptive or fraudulent.
  br
  br
  | • Don't offer prohibited items. Don't create any requests that are illegal, violate any of Dreambounty's policies, rules, or guidelines, or violate any applicable law, statute, ordinance, or regulation.
  br
  br
  | • Don't victimize anyone. Don't do anything threatening, abusive, harassing, defamatory, libelous, tortious, obscene, profane, or invasive of another person's privacy.
  br
  br
  | • Don't spam. Don't distribute unsolicited or unauthorized advertising or promotional material, or any junk mail, spam, or chain letters. Don't run mail lists, listservs, or any kind of auto-responder or spam on or through the Site.
  br
  br
  | • Don't harm anyone's computer. Don't distribute software viruses, or anything else (code, films, programs) designed to interfere with the proper function of any software, hardware, or equipment on the Site (whether it belongs to Dreambounty or another party).
  br
  br
  | • Don't abuse other users' personal information. When you use Dreambounty — and especially if you create a successful request — you may receive information about other users, including things like their names, email addresses, and postal addresses. This information is provided for the purpose of participating in a Dreambounty request: don't use it for other purposes, and don't abuse it.
  br
  br
  | • Don't try to interfere with the proper workings of the Services.
  br
  br
  | • Don't bypass any measures we've put in place to secure the Services.
  br
  br
  | • Don't try to damage or get unauthorized access to any system, data, password, or other information, whether it belongs to Dreambounty or another party.
  br
  br
  | • Don't take any action that imposes an unreasonable load on our infrastructure, or on our third-party providers. (We reserve the right to determine what's reasonable.)
  br
  br
  | • Don't use any kind of software or device (whether it's manual or automated) to "crawl" or "spider" any part of the Site.
  br
  br
  | • Don't take apart or reverse engineer any aspect of Dreambounty in an effort to access things like source code, underlying ideas, or algorithms.

section#how-requests-work
  h2 How Requests Work
  aside
    p.tldr
      | Most of our Terms of Use explain your relationship with Dreambounty. This section is different — it explains the relationship between recipients and backers of Dreambounty requests, and who's responsible for what. This is what you're agreeing to when you create or back a Dreambounty request.
  br
  | Dreambounty provides a funding platform. When a user creates a request on Dreambounty, all users are invited to form a contract with the recipient of that request. Anyone who backs a request is accepting the request's contents, and forming that contract with the recipient.
  br
  br
  | Dreambounty is not a part of this contract — the contract is a direct legal agreement between recipients and their backers. Here are the terms that govern that agreement:
  br
  br
  | When a request is accepted by its recipient, the recipient must complete the request. Once a recipient has done so, they've satisfied their obligation to their backers.
  br
  br
  | Throughout the process, recipients owe their backers a high standard of effort, honest communication, and a dedication to bringing the request to life. At the same time, backers must understand that when they back a request, they're helping to create something new — not ordering something that already exists. There may be changes or delays, and there's a chance something could happen that prevents the recipient from being able to finish the request as promised.
  br
  br
  | If a recipient is unable to complete their request, they've failed to live up to the basic obligations of this agreement. To right this, they must make every reasonable effort to find another way of bringing the request to the best possible conclusion for backers. A recipient in this position has only remedied the situation and met their obligations to backers if:
  br
  br
  | • they post an update that explains what work has been done, how funds were used, and what prevents them from finishing the request as planned;
  br
  br
  | • they work diligently and in good faith to bring the request to the best possible conclusion in a timeframe that's communicated to backers;
  br
  br
  | • they're able to demonstrate that they've used funds appropriately and made every reasonable effort to complete the request as promised;
  br
  br
  | • they've been honest, and have made no material misrepresentations in their communication to backers; and
  br
  br
  | • they offer to return any remaining funds to backers who have not experienced the result of the request (in proportion to the amounts contributed), or else explain how those funds will be used to complete the request in some alternate form.
  br
  br
  | The recipient is solely responsible for fulfilling the promises made in their request. If they're unable to satisfy the terms of this agreement, they may be subject to legal action by backers.


section#how-funding-works
  h2 How Funding Works
  aside
    p.tldr
      | This section goes over the details of backing and creating requests — things like how money gets collected, whether contributions can be changed or canceled, and how recipients can contact backers to provide the completed request.
  br
  | These are the terms that apply when you're backing a request:
  br
  br
  | • You're only charged if the request is accepted by the recipient. You'll provide your payment information before you contribution, but you won't be charged. Your payment will only be collected if the request is accepted by the recipient. The exact amount you contributed is the amount Dreambounty will collect. If the request is never accepted, you won't be charged, no funds will be collected, and no money will change hands.
  br
  br
  | • You can change or cancel your contribution at any time before the request is accepted. Once the request has been accepted, you can only cancel or change your contribution by making special arrangements directly with the recipient.
  br
  br
  | • Any delivery date the recipient provides for when the request will be completed is an estimate — there is no guarantee the request will be fulfilled by that date. The schedule may change as the recipient works on the request. We ask recipients to think carefully, set a date they feel confident they can work toward, and communicate with backers about any changes.
  br
  br
  | • Dreambounty doesn't offer refunds. Responsibility for finishing a request lies entirely with the request recipient. Dreambounty doesn't hold funds on recipients' behalf, cannot guarantee recipients' work, and does not offer refunds.
  br
  br
  | These are the terms that apply when you accept a request:
  br
  br
  | • After you accept a request you can cancel and refund individual backers' contributions at any time. If you do, you have no further obligation to that specific backer, and no agreement exists between you.
  br
  br
  | • We'll subtract all fees when we charge your backers.
  br
  br
  | • Some contributions can't be collected, which might reduce the amount of funding you get. Because some payments can't be collected — for instance, when a backer's credit card expires before a request is accepted, and they don't provide updated information — we can't guarantee that the amount of funding you receive will be exactly equal to the full amount contributed minus fees.
  br
  br
  | • You are responsible for resolving payment-card disputes. If a backer of a request you accepted disputes the charge with their card issuer, it is your responsibility to handle re-presenting the charge to settle the dispute with the card issuer.
  br
  br
  | • Don't count your chickens before they hatch. Don't assume you'll be able to accept a request when you want; there could be a reason we're not able to allow you to accept a request, or a problem that takes time to resolve. Don't assume you'll be able to immediately collect your funding; there may be a delay between the acceptance of a request and your access to the funds. And don't take any actions in reliance on collecting any of the money contributed until you actually have the ability to withdraw it from your account and spend it.


section#stuff-we-dont-do-and-arent-responsible-for
  h2 Stuff We Don't Do and Aren't Responsible For
  aside
    p.tldr
      | We don't oversee requests' performance, and we don't mediate disputes between users.
  br
  | Dreambounty isn't liable for any damages or losses related to your use of the Services. We don't become involved in disputes between users, or between users and any third party relating to the use of the Services. We don't oversee the performance or punctuality of requests, and we don't endorse any content users submit to the Site. When you use the Services, you release Dreambounty from claims, damages, and demands of every kind — known or unknown, suspected or unsuspected, disclosed or undisclosed — arising out of or in any way related to such disputes and the Services. All content you access through the Services is at your own risk. You're solely responsible for any resulting damage or loss to any party.


section#our-fees
  h2 Our Fees
  aside
    p.tldr
      | Fees are only charged on accepted requests. We charge 5%, in addition to any fees from our payments partners.
  br
  | Creating an account on Dreambounty is free. If you accept a request, we (and our payment partners) collect fees. Our partners' fees may vary slightly based on your location.
  br
  br
  | If our fees ever change, we'll announce that on our Site. Some funds contributed by backers are collected by payment providers. Each payment provider is its own company, and Dreambounty isn't responsible for its performance.
  br
  br
  | You're responsible for paying any additional fees or taxes associated with your use of Dreambounty.

section#other-websites
  h2 Other Websites
  aside
    p.tldr
      | If you follow a link to another website, what happens there is between you and them — not us.
  br
  | Dreambounty may contain links to other websites. When you access third-party websites, you do so at your own risk. We don't control or endorse those sites.
  br
  br
  | Dreambounty partners with other companies (such as Stripe) for payment processing. When you back or accept a request, you're also agreeing to the payment processor's terms of service.

section#your-intellectual-property
  h2 Your Intellectual Property
  aside
    p.tldr
      | We don't own the stuff you post on Dreambounty. But when you post it, you're giving us permission to use or copy it however we need in order to run the site, or show people what's happening on it. (We generally just use this to promote requests and showcase our community on the website.) You're responsible for the content you post, and you're vouching to us that it's all okay to use.
  br
  | Dreambounty doesn't own content you submit to us (your "Content"). But we do need certain licenses from you in order to perform our Services. When you create a request, or accept a request, you agree to these terms:
  br
  br
  | • We can use the content you've submitted. You grant to us, and others acting on our behalf, the worldwide, non-exclusive, perpetual, irrevocable, royalty-free, sublicensable, transferable right to use, exercise, commercialize, and exploit the copyright, publicity, trademark, and database rights with respect to your Content.
  br
  br
  | • When we use the content, we can make changes, like editing or translating it. You grant us the right to edit, modify, reformat, excerpt, delete, or translate any of your Content.
  br
  br
  | • You won't submit stuff you don't hold the copyright for (unless you have permission). Your Content will not contain third-party copyrighted material, or material that is subject to other third-party proprietary rights, unless you have permission from the rightful owner of the material, or you are otherwise legally entitled to post the material (and to grant Dreambounty all the license rights outlined here).
  br
  br
  | • Any royalties or licensing on your Content are your responsibility. You will pay all royalties and other amounts owed to any person or entity based on your Content, or on Dreambounty's hosting of that Content.
  br
  br
  | • You promise that if we use your Content, we're not violating anyone's rights or copyrights. If Dreambounty or its users exploit or make use of your submission in the ways contemplated in this agreement, you promise that this will not infringe or violate the rights of any third party, including (without limitation) any privacy rights, publicity rights, copyrights, contract rights, or any other intellectual property or proprietary rights.
  br
  br
  | • You're responsible for the stuff you post. All information submitted to the Site, whether publicly posted or privately transmitted, is the sole responsibility of the person from whom that content originated.
  br
  br
  | • We're not responsible for mistakes in your content. Dreambounty will not be liable for any errors or omissions in any content.


section#Dreambountys-intellectual-property
  h2 Dreambounty's Intellectual Property
  aside
    p.tldr
      | The content on Dreambounty is protected in various ways. You do have the right to use it for certain personal purposes, but you can't use it for anything commercial without getting permission first.
  br
  | Dreambounty's Services are legally protected in various ways, which may include copyrights, trademarks, service marks, patents, trade secrets, and other rights and laws. You agree to respect all copyright and other legal notices, information, and restrictions contained in any content accessed through the Site. You also agree not to change, translate, or otherwise create derivative works of the Service.
  br
  br
  | Dreambounty grants you a license to reproduce content from the Services for personal use only. This license covers both Dreambounty's own protected content and user-generated content on the Site. (This license is worldwide, non-exclusive, non-sublicensable, and non-transferable.) If you want to use, reproduce, modify, distribute, or store any of this content for a commercial purpose, you need prior written permission from Dreambounty or the relevant copyright holder. A "commercial purpose" means you intend to use, sell, license, rent, or otherwise exploit content for commercial use, in any way.


section#how-we-deal-with-copyright-issues
  h2 How We Deal with Copyright Issues
  aside
    p.tldr
      | We comply with the Digital Millennium Copyright Act. To learn more about how we deal with claims of copyright infringement, read our Copyright Policy.
  br
  | The Digital Millennium Copyright Act lays out a system of legal requirements for dealing with allegations of copyright infringement. Dreambounty complies with the DMCA, and we respond to notices of alleged infringement if they comply with the law and the requirements set forth in our Copyright Policy. We reserve the right to delete or disable content alleged to be infringing, and to terminate accounts for repeat infringers. (We do this when appropriate and at our sole discretion.)
  br
  br
  | If you'd like to report a claim of copyright infringement, you should submit it to dreambountyapp@gmail.com.


section#deleting-your-account
  h2 Deleting Your Account
  aside
    p.tldr
      | You can delete your account at any time. Deleting your account won't make content you've already posted go away.
  br
  | You can terminate your account at any time. All provisions of this agreement survive termination of an account, including our rights regarding any content you've already submitted to the Site. (For instance, if you've created or accepted a request, deleting your account will not remove the request from the Site.)


section#our-rights
  h2 Our Rights
  aside
    p.tldr
      | To operate, we need to be able to maintain control over what happens on our website. So in this section, we reserve the right to make decisions to protect the health and integrity of our system. We don't take these powers lightly, and we only use them when we absolutely have to.
  br
  | Dreambounty reserves these rights:
  br
  br
  | • We can make changes to the Dreambounty Site and Services without notice or liability.
  br
  br
  | • We have the right to decide who's eligible to use Dreambounty. We can cancel accounts or decline to offer our Services. (Especially if you're abusing them.) We can change our eligibility criteria at any time. If these things are prohibited by law where you live, then we revoke your right to use Dreambounty in that jurisdiction.
  br
  br
  | • We have the right to cancel any contribution to any request, at any time and for any reason.
  br
  br
  | • We have the right to reject, cancel, interrupt, remove, or suspend any request at any time and for any reason.
  br
  br
  | Dreambounty is not liable for any damages as a result of any of these actions, and it is our policy not to comment on the reasons for any such action.


section#warranty-disclaimer
  h2 Warranty Disclaimer
  aside
    p.tldr
      | We work hard to provide you with great services, but we can't guarantee everything will always work perfectly. This site is presented as-is, without warranties.
  br
  | You use our Services solely at your own risk. They are provided to you "as is" and "as available" and without warranty of any kind, express or implied.
  br
  br
  | DREAMBOUNTY SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE. NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM DREAMBOUNTY SHALL CREATE ANY WARRANTY.

section#indemnification
  h2 Indemnification
  aside
    p.tldr
      | If you do something on Dreambounty that winds up getting us sued, you have to help defend us.
  br
  | If you do something that gets us sued, or break any of the promises you make in this agreement, you agree to defend, indemnify, and hold us harmless from all liabilities, claims, and expenses (including reasonable attorneys' fees and other legal costs) that arise from or relate to your use or misuse of Dreambounty. We reserve the right to assume the exclusive defense and control of any matter otherwise subject to this indemnification clause, in which case you agree that you'll cooperate and help us in asserting any defenses.

section#limitation-of-liability
  h2 Limitation of Liability
  aside
    p.tldr
      | If something bad happens as a result of your using Dreambounty, we're not liable.
  br
  | To the fullest extent permitted by law, in no event will Dreambounty, its directors, employees, partners, suppliers, or content providers be liable for any indirect, incidental, punitive, consequential, special, or exemplary damages of any kind, including but not limited to damages (i) resulting from your access to, use of, or inability to access or use the Services; (ii) for any lost profits, data loss, or cost of procurement or substitute goods or services; or (iii) for any conduct of content of any third party on the Site.


section#dispute-resolution-and-governing-law
  h2 Dispute Resolution and Governing Law
  aside
    p.tldr
      | We're located in Canada, and any disputes with us have to be handled in Canada under Canadian law.
  br
  | We at Dreambounty encourage you to contact us if you're having an issue, before resorting to the courts. In the unfortunate situation where legal action does arise, these Terms (and all other rules, policies, or guidelines incorporated by reference) will be governed by and construed in accordance with the laws of Canada, without giving effect to any principles of conflicts of law, and without application of the Uniform Computer Information Transaction Act or the United Nations Convention of Controls for International Sale of Goods. You agree that Dreambounty and its Services are deemed a passive website that does not give rise to jurisdiction over Dreambounty or its parents, subsidiaries, affiliates, assigns, employees, agents, directors, officers, or shareholders, either specific or general, in any jurisdiction other than Canada. You agree that any action at law or in equity arising out of or relating to these Terms, or your use or non-use of Dreambounty, shall be filed only in Canada, and you hereby consent and submit to the personal jurisdiction of Canadian courts for the purposes of litigating any such action. You hereby irrevocably waive any right you may have to trial by jury in any dispute, action, or proceeding.

section#the-rest
  h2 The Rest
  aside
    p.tldr
      | These are our official terms and our rules for how things work. (So if you ever see confusing or conflicting information about any of this stuff, just check these terms — they're the last word.) Thanks so much for reading them, and for using Dreambounty!
  br
  | These Terms and the other material referenced in them are the entire agreement between you and Dreambounty with respect to the Services. They supersede all other communications and proposals (whether oral, written, or electronic) between you and Dreambounty with respect to the Services and govern our future relationship. If any provision of these Terms is found to be invalid under the law, that provision will be limited or eliminated to the minimum extent necessary so that the Terms otherwise will remain in full force and effect and enforceable. The failure of either you or Dreambounty to exercise any right provided for in these Terms in any way won't be deemed a waiver of any other rights.
  br
  br
  | These Terms are personal to you. You can't assign them, transfer them, or sublicense them unless you get Dreambounty's prior written consent. Dreambounty has the right to assign, transfer, or delegate any of its rights and obligations under these Terms without your consent. Dreambounty will provide you notice via email, written notice, or by conspicuously posting the notice on our Site.
  br
  br
  br
  br
