@charset "UTF-8";
/* defaults */
* {
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #333;
  font: 14px/1.2 -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 1000px;
  width: 100%;
  min-height: calc(100vh - 135px);
  padding: 50px; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: 300; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

img, i {
  vertical-align: bottom; }

::selection {
  background: #f6cff5; }

.capsule .show, nav .show {
  display: block; }

.capsule .hide, nav .hide {
  display: none; }

/* logo */
.dreambounty {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem; }

/* message popup */
.capsule {
  position: fixed;
  display: flex;
  z-index: 666;
  left: 30px;
  margin-right: 30px;
  bottom: 0;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  max-width: 400px;
  min-height: 50px;
  padding: 15px 25px;
  color: #fff;
  background: #333;
  border-radius: 2px;
  transform: translateY(100%); }

.msg {
  color: #fff;
  line-height: 1.3; }

.capsule .clear {
  background: url(images/clear_light.svg) center no-repeat;
  background-size: 12px 12px;
  min-width: 12px;
  min-height: 12px;
  outline-width: 0;
  border: none;
  padding: 0;
  margin-left: 10px; }
  .capsule .clear:hover {
    cursor: pointer; }

.open {
  animation-name: open;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards; }

.close {
  animation-name: close;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-fill-mode: forwards; }

@-webkit-keyframes open {
  0% {
    transform: translateY(110%); }
  100% {
    transform: translateY(-50%); } }

@-webkit-keyframes close {
  0% {
    transform: translateY(-50%); }
  100% {
    transform: translateY(110%); } }

/* input */
.input, textarea {
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 15px 10px;
  font-weight: 300;
  border-radius: 2px;
  border: 1px solid #e6edf4;
  height: 40px;
  font-size: .95rem;
  transition: all .2s;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  .input:focus, textarea:focus {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1); }

/* buttons */
.button-light {
  outline-width: 0;
  font-weight: 400;
  font-size: .75rem;
  color: #7a808a;
  min-width: 100px;
  padding: 0 28px;
  height: 38px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #e6edf4;
  transition: all 150ms ease-out;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; }
  .button-light:hover {
    color: #333;
    cursor: pointer; }

.anchor-button {
  padding: 12px 28px 10px 28px;
  display: inline-block;
  text-align: center; }

/* navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
  height: 100px; }

.dropdown {
  display: inline-flex;
  align-items: flex-end;
  position: relative; }
  .dropdown:hover {
    cursor: pointer; }

.dropdown button {
  background: none;
  border: none;
  outline: none; }
  .dropdown button:hover {
    cursor: pointer; }

.dropdown img {
  border-radius: 40px; }

.menu {
  position: absolute;
  display: none;
  top: 30px;
  right: 10px;
  width: 220px;
  border-radius: 2px;
  box-shadow: 0 3px 20px rgba(89, 105, 129, 0.3), 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(89, 105, 129, 0.1);
  z-index: 2; }

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  min-height: 50px;
  border-bottom: 1px solid #e6edf4;
  background: #fff; }
  .item:hover {
    background: #f7f9fc; }

form.item {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.masthead {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  align-items: center;
  padding: 40px 30px 30px 30px; }

nav .name {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: 500; }

nav .username {
  text-align: center;
  margin-top: 3px;
  font-weight: 400;
  color: #7e899b;
  font-size: .8rem; }

.item .text {
  display: block;
  color: #333c46;
  text-transform: uppercase;
  font-size: .675rem;
  font-weight: 700;
  border: none;
  padding: 0; }

.item .subtext {
  display: block;
  color: #95a0ae;
  font-size: .75rem; }

/* titles */
.titles {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #333; }

.titles .title {
  font-size: 3rem;
  font-weight: 400; }
  .titles .title:first-letter {
    text-transform: uppercase; }

.subtitle {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.5; }

.titles-small {
  margin-bottom: 20px; }

.title-small {
  font-size: 1.1rem; }

.subtitle-small {
  font-weight: 300;
  color: #7e899b;
  line-height: 1.6; }

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 35px;
  bottom: 0;
  right: 0;
  color: #adb5bd;
  padding: 10px;
  font-size: .7rem; }

footer a:hover {
  color: #333; }

/* media queries */
/* < 600px */
@media screen and (max-width: 600px) {
  .wrapper {
    padding: 0px 25px 50px 25px; }
  .dropdown-wrapper {
    width: 25px; } }

/* < 380px */
@media screen and (max-width: 380px) {
  nav {
    padding: 0 25px; } }

/* general */
.wrapper {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'account summary';
  max-width: 1400px; }

.wrapper .show {
  opacity: 1; }

/* loading */
.loading {
  height: 96px;
  position: relative;
  top: 50px;
  pointer-events: none;
  color: transparent; }
  .loading:after {
    position: absolute;
    animation: loading .5s infinite linear;
    border: .1rem solid #222;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: rgba(51, 51, 51, 0.9);
    border-left-color: rgba(51, 51, 51, 0.9);
    content: '';
    display: block;
    height: .8rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    top: 46%;
    width: .8rem;
    z-index: 1; }
  .loading:hover {
    color: transparent; }

@-webkit-keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/* user */
.account {
  grid-area: account; }

.account .user {
  display: flex;
  flex-direction: column;
  align-items: center; }

.account .avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 2px;
  margin: 0; }

.account .name-wrapper {
  display: flex;
  margin-top: 25px; }

.account .badge {
  margin-bottom: 4px;
  width: 19px;
  height: 19px;
  object-fit: cover; }

.account .name {
  font-size: 1.5rem;
  font-weight: 300; }

.account .username {
  font-weight: 300;
  text-align: center;
  color: #7e899b;
  width: 250px;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-wrap; }

/* totals */
.totals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.totals .stat {
  display: flex;
  align-items: center;
  margin-top: 35px; }

.totals .stat-title {
  font-size: .7rem;
  text-transform: uppercase;
  text-align: left;
  font-weight: 500;
  margin-bottom: 7px;
  white-space: nowrap; }

.totals .stat-num {
  font-size: 2rem;
  color: #333;
  font-weight: 300; }

/* summary */
.summary {
  grid-area: summary; }

.details {
  display: flex;
  font-weight: 300;
  color: #7e899b;
  font-size: .95rem;
  align-items: center;
  white-space: pre; }

.details span {
  white-space: pre;
  padding: 1px; }

.contribution-wrapper, .raised-wrapper {
  position: relative; }
  .contribution-wrapper:hover > .tooltip, .raised-wrapper:hover > .tooltip {
    display: block; }

.request-raised {
  font-weight: 400;
  color: #333; }

.contribution-tooltip {
  left: -58px; }

.raised-tooltip {
  left: -38px; }

.accepted {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(27, 183, 110, 0.8);
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .65rem;
  height: 18px;
  margin-left: 15px;
  min-width: 65px; }

/* tooltip */
.tooltip {
  position: absolute;
  display: none;
  outline: none;
  line-height: 1;
  background: #616161;
  opacity: .9;
  padding: 6px 10px;
  color: #fff;
  border-radius: 2px;
  margin: 8px;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.8; }

/* tabs */
.tabs {
  display: flex;
  justify-content: flex-end;
  height: 50px; }

.tab {
  font-size: .675rem;
  text-transform: uppercase;
  font-weight: 500;
  background: none;
  border: none;
  outline: none;
  color: #7e899b; }
  .tab:hover {
    cursor: pointer; }

.active {
  color: #333; }

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  text-align: center;
  padding: 40px 0; }

/* requests */
.requests {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.request {
  display: flex;
  flex-direction: column-reverse;
  border-top: 1px solid #efeff0;
  align-items: center;
  padding: 20px 0px; }

.request a {
  height: 100%; }

.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 2px;
  margin-top: 5px; }

.title {
  margin-left: 15px;
  height: 100%; }

.title h2 {
  font-weight: 400;
  font-size: 1.1rem; }

.container {
  display: flex;
  width: 100%; }

/* stats */
.stats {
  display: flex;
  align-items: center; }

.bullet {
  margin-left: 18px; }

.stat {
  display: flex;
  flex-direction: column; }

.stat-num {
  display: flex;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3; }

/* recipient */
.recipient {
  display: flex;
  width: 100%;
  margin-bottom: 6px; }

.name-wrapper {
  flex-direction: column;
  display: flex; }

.name {
  font-size: .85rem; }

.badge {
  margin-bottom: 1px;
  width: 14px;
  height: 14px;
  object-fit: cover; }

.username {
  color: #7e899b;
  font-size: .75rem; }

/* media queries */
/* < 1000px */
@media screen and (max-width: 1000px) {
  .wrapper {
    grid-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 'account' 'summary'; } }

/* < 600px */
@media screen and (max-width: 600px) {
  .tabs {
    justify-content: center; }
  .tab {
    margin: 0 20px; }
  .bullet {
    margin-left: 14.5px;
    margin-right: 12.5px; }
    .bullet:before {
      display: inline-block;
      content: '•'; }
  .wrapper {
    grid-gap: 25px;
    padding: 0; }
  .loading {
    top: 0; }
  .request {
    align-items: flex-start;
    width: 100%;
    padding: 20px 25px; } }
